!!! 5
%head
  %title TTY Player
  %link{ href: '../css/sgr.css', rel: 'stylesheet', type: 'text/css' }
  %link{ href: '../css/player.css', rel: 'stylesheet', type: 'text/css' }
  %script{ src: '../lib/parser.js' }
  %script{ src: '../lib/jsdeferred.js' }
  %script{ src: '../lib/term.js' }
  %script{ src: '../lib/transitions.js' }
  %script{ src: '../lib/canvas.js' }
  %script{ src: '../lib/player.js' }

%body
  #player.sgr
    .header
      %img{ src: '../images/term/buttons.png'}
      %h1 TTY Cast
    .container
    %input{ :type => :text, :value => "shelr play ...", :class => 'cmdline hidden' }
    %nav.controls
      %li.sc-button.toggle{ :'data-action' => 'play' }
        %img{ src: '../images/term/playback-start.png' }
      %li.sc-button{ :'data-action' => 'settings' }
        %img{ src: '../images/term/properties.png' }
        %ul.sc-settings
          %li Play in Your terminal
      -#  %input.speed{ type: 'range', value: 0 }
      %li.progress
        .progress-inner

  :javascript
    var onLoad = function() {
      var term = new Term(document.getElementsByClassName('container')[0]);
      window.player = new SC.Player(document.getElementById('player'), term);
      window.player.load('');
    }
    window.addEventListener('load', onLoad, true);
